body {
  font-family: "Georgia", serif;
  min-height: 100vh;
  background: radial-gradient(circle, #ffffff, #55BDCA);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px; /* Increase the max-width to make the container wider */
  width: 90%; /* Add a width property to ensure responsiveness */
  height: auto;
  border-radius: 8px;
  background-color: #ff7f50;
  border: 1px solid #797373;
  color: #fffcfb;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Adjust positioning */
  margin: 30px auto;
}

.study-buddy-heading {
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
  color: #18487a;
}

.additional-text {
  text-align: center;
  margin-bottom: 20px;
  color: #18487a;
  font-size: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.input-group input,
#create-account-button,
#submit {
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f3f5f7;
  border: 1px solid #797373;
  font-size: 16px;
  font-family: "Georgia", serif;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-right: auto;
}

.create-account-button,
#submit {
  background-color: #022449;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: "Georgia", serif;
  margin-right: auto;
}

.create-account-button:hover,
#submit:hover {
  background-color: #e6ce1c;
  color: #0a5416;
  border: 1px solid #797373;
  font-family: "Georgia", serif;
}

.input-group input.error::placeholder {
  color: red;
}

.error-message {
  color: red;
  margin-top: 5px;
  display: none;
}

.error-message.show {
  display: block;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
